$primary: #b5ed3d;
$secondary: #2f5bd1;
$black: #050406;
$white: #fff;
$gradient: linear-gradient(90deg, #baff00 25%, #06ffcc 75%);
$black-2:#19141D;

$font-primary: "Inter", sans-serif;
$font-secondary: "Urbanist", sans-serif;
$font-dm-sans: "DM Sans", $font-secondary;
