$primary: #acf10e;
$secondary: #2f5bd1;
$black: #101010;
$black-2: #050406;
$black-bg: #19141D;
$white: #fff;
$gray: #6b6b6b;

$green: #39ff93;
$lime: #baff00;
$mint: #1AFFD3;
$gradient: linear-gradient(90deg, #baff00 25%, #06ffcc 75%);

$font-primary: "Inter", sans-serif;
