@font-face {
font-family: 'fonticon';
src: url("../fonts/fonticon.ttf") format("truetype"),
url("../fonts/fonticon.eot") format("embedded-opentype"),
url("../fonts/fonticon.woff") format("woff");
}
.ico {
    font-family: 'fonticon' !important;
    font-size: 18px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.twitter:before { content: "\ea01"; }
.gitbokk:before { content: "\ea02"; }
.telegram:before { content: "\ea03"; }
.arrow-right:before { content: "\ea04"; }
.arrow-right-long:before { content: "\ea05"; }
.substract:before { content: "\ea06"; }
.Vector:before { content: "\ea07"; }
.arrow-right-primary:before { content: "\ea08"; }
.icons:before { content: "\ea09"; }
.arrow-bottom:before { content: "\ea0a"; }
