@font-face {
font-family: 'font-icon';
src: url("../fonts/font-icon.ttf") format("truetype"),
url("../fonts/font-icon.eot") format("embedded-opentype"),
url("../fonts/font-icon.woff") format("woff");
}
.ico {
    font-family: 'font-icon' !important;
    font-size: 18px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.arrowRight:before { content: "\ea01"; }
.twitter.svg:before { content: "\ea02"; }
.telegram.svg:before { content: "\ea03"; }
.youtube.svg:before { content: "\ea04"; }
.reddit.svg:before { content: "\ea05"; }
.substack.svg:before { content: "\ea06"; }
.gitbook.svg:before { content: "\ea07"; }
.logoEmblem:before { content: "\ea08"; }
.homeShape:before { content: "\ea09"; }
.rocket:before { content: "\ea0a"; }
.arrowRightShape:before { content: "\ea0b"; }
.home-shape-arrow:before { content: "\ea0c"; }
.arrowBottom:before { content: "\ea0d"; }
.home-shape:before { content: "\ea0e"; }
