.bg {
  position: relative;
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    img {
      @include fullImage;
    }
  }
}
// @mixin layout-1280 {
// }
// @mixin layout-1160 {
// }
// @mixin layout-1025 {
// }
// @mixin layout-940 {
// }
// @mixin layout-580 {
// }
// @mixin layout-460 {
// }
// @mixin layout-370 {
// }
