.products {
  &__inner {
    &-items {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
    h2 {
      text-align: left;
      margin-bottom: 54px;
    }
  }
  &Item {
    background: $black-2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 20px;
    border-radius: 8px;
    &__image {
      width: calc(50% - 10px);
      max-width: 550px;
      display: flex;
      align-items: center;
      justify-content: center;
      .ratioImage {
        padding-bottom: 63%;
        img{
          object-fit: contain;
        }
      }
    }
    &__content {
      width: calc(50% - 10px);
      max-width: 540px;
      position: relative;
      z-index: 1;
      &-row {
        display: flex;
        gap: 18px;
      }
      &-info {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
    p{
      line-height: 27px;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
    li {
      font-size: 16px;
      line-height: 24px;
      position: relative;
      padding-left: 25px;
      &::before {
        content: "";
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: $white;
        position: absolute;
        top: 8px;
        left: 12px;
      }
      a {
        color: $primary;
        text-decoration: underline;
      }
      &.arrow{
        &:before{
          content: "";
          width: 9px;
          height: 16px;
          border-radius: 50%;
          background-image: url("../images/font-icon/svg/arrowRight.svg");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          position: absolute;
          top: 8px;
          left: 12px;
        }
      }
    }
    .button {
      padding: 0.7em 2.8em;
    }
  }
}
