@media (max-width: 1360px) {
  @include index-1360;
}
@media (max-width: 1280px) {
  @include layout-1280;
}
@media (max-width: 1160px) {
  .autoContainer {
    padding: 0 40px;
  }
  @include typography-1160;
  @include layout-1160;
}
@media (max-width: 1025px) {
  .autoContainer {
    padding: 0 30px;
  }
  @include header-1025;
  @include layout-1025;
}

@media (max-width: 940px) {
  .autoContainer {
    padding: 0 25px;
  }
  @include layout-940;
  @include typography-940;
}
@media (max-width: 768px) {
  .autoContainer {
    padding: 0 15px;
  }
}
@media (max-width: 580px) {
  ._hideMob {
    display: none;
  }
  @include components-580;
  @include layout-580;
}
@media (max-width: 460px) {
  @include typography-460;
  @include components-460;
  @include layout-460;
}
@media (max-width: 370px) {
  @include layout-370;
}
